@model Deck
@{
    ViewData["Title"] = "Create Deck";
}

<h1>Create Deck</h1>

<div>
    <form class="form-group" asp-action="CreateDeck" asp-controller="Decks">
        <div>
            <label asp-for="Name" class="col-form-label"></label>
            <input asp-for="Name" placeholder="Deck Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <br />

        <input type="submit" name="save" value="save" class="btn btn-primary col-1" />
        <a asp-action="GetDecks" asp-controller="Decks" class="btn btn-secondary col-1">Cancel</a>
    </form>
</div>