################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FlashCards2
/Api/FlashCards.Api/.vs/FlashCards.Api
/Api/FlashCards.Api/FlashCards.Api/bin/Debug/netcoreapp3.1
/Api/FlashCards.Api/FlashCards.Api/obj
/Api/FlashCards.Api/FlashCards.Api/WeatherForecast.cs
/App/FlashCards/.vs/FlashCards
/App/FlashCards/FlashCards.App/obj
/App/FlashCards/FlashCards.App/bin/Debug/netcoreapp3.1
/.vs
/Api/FlashCards.Api/FlashCards.Api.Tests/bin/Debug/netcoreapp3.1
/Api/FlashCards.Api/FlashCards.Api.Tests/obj
