@model FlashCards.ViewModels.FlashCardEditModel
@{
    ViewData["Title"] = "Create Flash Card";
}

<h1>Create a Flash Card</h1>

<form method="post" class="form-group">
    <div>
        <label class="form-check-label" asp-for="Decks">Deck</label>
        <select asp-for="FlashCard.DeckId" class="form-control">
            @foreach (var deck in Model.Decks)
            {
                <option value="@deck.Id">@deck.Name</option>
            }
        </select>
    </div>
    <br />

    <div>
        <label asp-for="FlashCard.Title" class="form-check-label"></label>
        <input asp-for="FlashCard.Title" placeholder="Flash Card Title" class="form-control" />
        <span asp-validation-for="FlashCard.Title" class="text-danger"></span>
    </div>
    <br />

    <div>
        <label asp-for="FlashCard.Description" class="form-check-label"></label>
        <textarea asp-for="FlashCard.Description"
                  placeholder="Write your description here"
                  class="form-control">
        </textarea>
        <span asp-validation-for="FlashCard.Description" class="text-danger"></span>
    </div>
    <br />

    <div>
        <input type="submit" name="save" value="Save" class="btn btn-primary" />
        <a class="btn btn-warning" asp-action="GetCards" asp-route-deckId="@Model.FlashCard.DeckId">Cancel</a>
    </div>
</form>

