@model FlashCards.ViewModels.FlashCardEditModel
@{
    ViewData["Title"] = "Edit Flash Card";
}

<h1>Edit Flash Card</h1>

<form method="post" class="form-group">
    <input asp-for="FlashCard.Id" class="form-control, text-hide" />

    <div>
        <label class="form-check-label" asp-for="Decks">Deck</label>
        <select asp-for="FlashCard.DeckId" class="form-control">
            @foreach (var deck in Model.Decks)
            {
                <option value="@deck.Id">@deck.Name</option>
            }
        </select>
    </div>
    <br />

    <div>
        <label asp-for="FlashCard.Title" class="form-check-label"></label>
        <input asp-for="FlashCard.Title" class="form-control" />
        <span asp-validation-for="FlashCard.Title" class="text-danger"></span>
    </div>
    <br />

    <div>
        <label asp-for="FlashCard.Description" class="form-check-label"></label>
        <textarea asp-for="FlashCard.Description" class="form-control"></textarea>
        <span asp-validation-for="FlashCard.Description" class="text-danger"></span>
    </div>
    <br />

    <div>
        <input type="submit" name="save" value="Save" class="btn btn-primary" />

        <button type="button" id="deleteButton" class="btn btn-danger">Delete</button>
        <a class="btn btn-warning" asp-action="GetCards" asp-route-deckId="@Model.FlashCard.DeckId">Cancel</a>

        <br />
        <br />

        <partial name="_VerifyDelete"
                 model='new VerifyDeleteViewModel
                            {
                                ItemType="card",
                                Id=Model.FlashCard.Id
                            }' />

        @*<input type="button" name="delete" value="delete" class="btn btn-danger"
            onclick="location.href='@Url.Action("VerifyDelete",
                               new VerifyDeleteViewModel { Id = Model.FlashCard.Id,
                                                           ItemType = "flashCard" })'" />
        *@
    </div>
</form>