@{
    ViewData["Title"] = "FlashCards";
}

<h1></h1>

<br />

<div id="toolbar">
    <a class="btn btn-primary" href="../../Decks">Back</a>

    <a id="edit-deck-btn" class="btn btn-info">Edit Deck</a>
    <a class="btn btn-success new-btn">New Card</a>

    <br />
    <br />
</div>

<br />

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="card-deck">
            <div class="card text-white bg-dark mb-3"
                 style="min-height: 18rem; min-width: 15rem; max-width: 15rem;">
                <div class="card-header" style="height: 3rem;">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary btn-sm show-btn">
                            <input type="radio" name="options"
                                   id="option1" autocomplete="off" />Show
                        </label>
                        <label class="btn btn-secondary btn-sm active hide-btn">
                            <input type="radio" name="options"
                                   id="option2" autocomplete="off" checked />Hide
                        </label>
                    </div>
                    <a class="btn-sm btn-info float-right edit-btn">Edit</a>
                </div>

                <div class="card-body">
                    <h3 class="card-title"></h3>
                    <h5 class="card-text"></h5>
                </div>
            </div>

            <div class="card text-white bg-secondary mb-3"
                 style="min-height: 18rem; min-width: 15rem; max-width: 15rem;">
                <div class="card-header" style="height: 3rem;"></div>
                <div class="card-body">
                    <h3 class="card-title">
                        <a class="btn btn-success new-btn">New Card</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="validation-error" class="alert alert-warning" role="alert" hidden></div>

@section Scripts {
    <script src="~/js/get-cards.js"></script>
}
