
@{
    ViewData["Title"] = "Edit Deck";
}

<h1>Edit Deck</h1>

<form class="form-group">
    <div>
        <label class="col-form-label">Name</label>
        <input id="deck-name" placeholder="Deck Name" class="form-control" />
    </div>

    <br />
    <div id="validation-error" class="alert alert-warning" role="alert" hidden></div>
</form>
<div id="toolbar">
    <input type="submit" name="save" value="Save" class="btn btn-primary col-1" />
    <button id="delete-btn" class="btn btn-danger col-1">Delete</button>
    <button id="cancel-btn" class="btn btn-secondary col-1">Cancel</button>

    <br />
    <br />
</div>

@section Scripts {
    <script src="~/js/edit-deck.js"></script>
    <script src="~/js/verify-delete-partial.js"></script>
}