@{
    ViewData["Title"] = "All Decks";
}

<h1>All Decks</h1>
<br />

<div>
    <a class="btn btn-success" asp-action="CreateDeck">New Deck</a>
</div>
<br />

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="card-deck">
            <div class="card text-white bg-info mb-3"
                 style="min-height: 18rem; min-width: 15rem; max-width: 15rem;">
                <div class="card-header" style="height: 3rem;"></div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="text-white">
                        </a>
                    </h5>
                </div>
            </div>

            <div class="card text-white bg-dark mb-3"
                 style="min-height: 18rem; min-width: 15rem; max-width: 15rem;">
                <div class="card-header" style="height: 3rem;"></div>
                <div class="card-body">
                    <h5 class="card-title">
                        <a class="card-text text-success" asp-action="CreateDeck">
                            New Deck
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="validation-error" class="alert alert-warning" role="alert" hidden></div>

@section Scripts {
    <script src="~/js/GetDecksScripts.js"></script>
    <script src="~/js/Validation.js"></script>
}
